.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}
img{
    position: absolute;
    border: rgba(255, 255, 255, 1) 8px solid;
    max-height: 100px;
    border-radius: 50%;
    top:-20px;
    z-index: 10;
}
.dropdown-menu{
    position: absolute;
    top: 0px!important;
    left: -140px !important;
    z-index: 9;
   background-color:  #4bbf73!important;
}
.dropdown-item{
    background-color:  rgb(52, 58, 64)!important;
}
.dropdown-item:hover{
    background-color:  rgb(52, 58, 64)!important;
}
.navbar-nav{
    flex-direction: row;
}
